<html>
<div>
	<p><a href="../index.html">Home</a></p>
	<h1>Course/Topic Many-to-Many Relationship</h1>
	<fieldset> 
		<legend>Associate Topic(s) with a Course</legend>
		<form id="add_course_topic" action="/course_topic" method="post">
		Course: <select name='cid'>
			{{#each course2}}
			  <option value='{{course_id}}'>{{title}}</option>
			{{/each}}
		</select>
		<br>
		Topic:<sup>Multi-select</sup> <select multiple name="topics"> 
			{{!-- We display title but the value that is submitted through the form is actually the certificate's id --}}
			{{#each topic2}}
			<option value="{{id}}">{{name}}</option>
			{{/each}}
		</select><br>
		<input type="submit" value="Submit">
		</form>
	</fieldset>
	</div>
	<br/>
	<fieldset> 
		<legend>List of Courses with their Topics</legend>
		<table>
			<thead> 
				<th>Course</th> 
				<th>Topic</th> 
			</thead> 
			<tbody> 
				{{#each course_with_topic}} 
				<tr> 
					<td>{{course}}</td> 
					<td>{{topic}}</td> 
					<td><button onclick="deleteCourseTopic({{course_id}},{{tid}})">Dissociate</button></td>
					<td><a href="/course_topic/{{id}}">Update</a></td>
				</tr>
				{{else}}
				<b> No course with any topics found! Grant some using the form. </b>
				{{/each}} 
			</tbody>
		</table> 
	</fieldset>
</html>
